.tile-container {
  width: 100%;
  height: 100%;
}

.tile {
  border-radius: 2%;
  width: 100%;
  height: 80%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 1rem;
  font-family: Dosis, sans-serif;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border: 0;
  border-radius: 5%;
  background-color: azure;
}

@media only screen and (min-width: 600px) {
  .tile-container {
    width: 50%;
  }
  .tile {
    width: 100%;
    height: 80%;
    transition: all 0.3s ease-out;
  }

  .tile:hover {
    transform: translate(0, -5px);
  }
  button {
    font-size: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-top: 1rem;
    transition: all 0.3s ease-out;
  }

  button:hover {
    transform: translate(0, -5px);
  }
}
