@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(232, 241, 245, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Dosis, sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: #ed5874;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }
}
