@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Dosis, sans-serif;
}

.button {
  font-size: 3rem;
}

.box {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
